* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
  font-size: 12px;
}

/* Utility Class */

[class*="footer"] {
  display: flex;
  align-items: center;
}

[class*="icon"] {
  text-align: center;
}

.container-big {
  display: flex;
  width: 100%;
  height: 100vh;
  background-color: #000;
  color: #fff;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
}

/* Container */

.container-top {
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.container-middle {
    height: calc(100vh - 110px - 60px);
    background-color: rgba(204, 204, 204, 0.233);
    margin: 30px;
}

footer {
  width: 100%;
  height: 60px;
  background-color: rgba(204, 204, 204, 0.233);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Top*/


.container-top div {
  margin: 0 2px;
  padding: 4px 8px;
  border-radius: 8px;
  background-color: rgba(204, 204, 204, 0.233);
}

.container-top div:nth-child(1)::before {
  content: "\f00a";
  font-family: "Font Awesome 5 Free";
  font-weight: 800;
  padding-right: 5px;
}

.container-top div:nth-child(2)::before {
  content: "\f31e";
  font-family: "Font Awesome 5 Free";
  font-weight: 800;
}


/* Footer */

.footer-left div, .footer-middle div, .footer-right div {
  margin: 0 5px;
}

.footer-left, .footer-right {
    width: 25%;
}

.footer-middle {
    f
}

.footer-right {
    justify-content: end;
}



.text-icon {
  padding: 4px 0;
}

.chevron::before {
  content: "\f077";
  font-family: "Font Awesome 5 Free";
  font-weight: 800;
  font-size: 12px;
}

.icon-mic::before {
  content: "\f130";
  font-family: "Font Awesome 5 Free";
  font-weight: 800;
  font-size: 22px;
}

/* Footer Middle */


.icon-cam::before {
  content: "\f03d";
  font-family: "Font Awesome 5 Free";
  font-weight: 800;
  font-size: 22px;
}

.icon-invite::before {
  content: "\f234";
  font-family: "Font Awesome 5 Free";
  font-weight: 800;
  font-size: 22px;
}

.icon-partecipants::before {
  content: "\f500";
  font-family: "Font Awesome 5 Free";
  font-weight: 800;
  font-size: 22px;
}

.icon-polling::before {
  content: "\f500";
  font-family: "Font Awesome 5 Free";
  font-weight: 800;
  font-size: 22px;
}

.icon-screen::before {
  content: "\f500";
  font-family: "Font Awesome 5 Free";
  font-weight: 800;
  font-size: 22px;
}

.icon-chat::before {
  content: "\f075";
  font-family: "Font Awesome 5 Free";
  font-weight: 800;
  font-size: 22px;
}

.icon-record::before {
  content: "\f51f";
  font-family: "Font Awesome 5 Free";
  font-weight: 800;
  font-size: 22px;
}

.icon-rooms::before {
  content: "\f500";
  font-family: "Font Awesome 5 Free";
  font-weight: 800;
  font-size: 22px;
}

.icon-squares::before {
  content: "\f009";
  font-family: "Font Awesome 5 Free";
  font-weight: 800;
  font-size: 22px;
}

.icon-more::before {
  content: "\f141";
  font-family: "Font Awesome 5 Free";
  font-weight: 800;
  font-size: 22px;
}

/* Footer Right */



.button-end {
    padding-right: 10px;

}

button {
    
}
