* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 12px;
}

/* Container */

.container-big {
  display: flex;
  width: 100%;
  height: 100vh;
  background-color: #000;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.container-top,
.container-middle,
footer {
  display: flex;
}

.container-top {
  height: 50px;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
}

.container-middle {
  height: calc(100vh - 110px);
  width: 100%;
  padding: 40px 40px;
  flex-wrap: wrap;
  justify-content: space-between;
  color: #fff;
}

footer {
  width: 100%;
  height: 60px;
  background-color: rgba(204, 204, 204, 0.233);
  justify-content: space-between;
  align-items: center;
}

/* Top*/

.container-top a {
  margin: 0 2px;
  padding: 4px 8px;
  border-radius: 8px;
  background-color: rgba(204, 204, 204, 0.233);
  text-decoration: none;
  color: #fff;
}

.container-top a:hover {
  color: rgb(82, 255, 47);
}

.container-top a:nth-child(1)::before {
  content: "\f00a";
  font-family: "Font Awesome 5 Free";
  font-weight: 800;
  padding-right: 5px;
}

.container-top a:nth-child(2)::before {
  content: "\f31e";
  font-family: "Font Awesome 5 Free";
  font-weight: 800;
}

/* Middle */

.img-box {
  position: relative;
  width: calc(100% / 7 - 20px);
  margin: 0 10px;
}

.img-box > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img-box > span {
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(204, 204, 204, 0.233);
  line-height: 1;
  padding: 2px;
}

.img-box span::before {
  content: "\f131";
  font-family: "Font Awesome 5 Free";
  font-weight: 800;
  font-size: 10px;
  padding: 0 5px;
}

/* Footer */

footer a {
  text-decoration: none;
  color: #fff;
}

footer a:hover {
  color: rgb(82, 255, 47);
}

[class*="footer"] {
  display: flex;
  align-items: center;
}

.footer-right {
  justify-content: end;
}

.footer-left a,
.footer-middle a,
.footer-right a:no-button {
  margin: 0 5px;
}

.footer-left a:first-child {
  padding-left: 8px;
}

.footer-left,
.footer-right {
  width: 25%;
}

[class*="icon"] {
  text-align: center;
}


.text-icon {
  padding-top: 4px;
}

/* Footer Left */


.chevron::before {
  content: "\f077";
  font-family: "Font Awesome 5 Free";
  font-weight: 800;
  font-size: 12px;
}

.icon-mic::before {
  content: "\f130";
  font-family: "Font Awesome 5 Free";
  font-weight: 800;
  font-size: 22px;
}

.icon-cam::before {
  content: "\f03d";
  font-family: "Font Awesome 5 Free";
  font-weight: 800;
  font-size: 22px;
}

/* Footer Middle */

.icon-invite::before {
  content: "\f234";
  font-family: "Font Awesome 5 Free";
  font-weight: 800;
  font-size: 22px;
}

.icon-partecipants::before {
  content: "\f500";
  font-family: "Font Awesome 5 Free";
  font-weight: 800;
  font-size: 22px;
}

.icon-polling::before {
  content: "\f080";
  font-family: "Font Awesome 5 Free";
  font-weight: 800;
  font-size: 22px;
}

.icon-screen::before {
  content: "\f14d";
  font-family: "Font Awesome 5 Free";
  font-weight: 800;
  font-size: 22px;
}

.icon-chat::before {
  content: "\f075";
  font-family: "Font Awesome 5 Free";
  font-weight: 800;
  font-size: 22px;
}

.icon-record::before {
  content: "\f51f";
  font-family: "Font Awesome 5 Free";
  font-weight: 800;
  font-size: 22px;
}

.icon-rooms::before {
  content: "\f500";
  font-family: "Font Awesome 5 Free";
  font-weight: 800;
  font-size: 22px;
}

.icon-squares::before {
  content: "\f009";
  font-family: "Font Awesome 5 Free";
  font-weight: 800;
  font-size: 22px;
}

.icon-more::before {
  content: "\f141";
  font-family: "Font Awesome 5 Free";
  font-weight: 800;
  font-size: 22px;
}

/* Footer Right */

.footer-right > button {
  border: none;
  height: 60px;
  background-color: rgba(204, 204, 204, 0.233);
  font-size: 12px;
  padding: 0 10px;
}

button > a {
  color: red;
}

button:hover {
  background-color: rgba(204, 204, 204, 0.133);
}

button > a:hover {
  color: #fff;
}
